<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

<body>
    {% include {{ site.baseurl }}header.html %}
  
    {{ content }}

    {% include {{ site.baseurl }}footer.html %}

    <a href="#top" class="back-to-top">^</a>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ site.relurl }}/assets/js/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.relurl }}/assets/js/bootstrap.min.js"></script>
    <!-- TOC -->
    <script src="{{ site.relurl }}/assets/js/TOC.js"></script>

  </body>
</html>
